body{
    margin-top: 5%;
    text-align: center;
    background-color: #AF7AB3;
}

h1{
    color: white;
    font-family: 'Covered By Your Grace', cursive;
}

p{
    width: 20%;
    text-align: justify;
    padding: 20px;
    background-color: #80558C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn
{
    transition-duration: 0.4s;
    font-family: 'Covered By Your Grace', cursive;
    padding: 2px;
    background-color: #80558C;
}
#btn:hover {
    background-color: #80558C; 
    color: white;
  }

@media only screen and (max-width: 600px){
    p{
        width: 60%;
        text-align: justify;
        padding: 20px;
    }   
}
